[neutron]
url = http://{{ extgateway }}:9696
auth_url = http://{{ extgateway }}:5000
memcached_servers = {{ extgateway }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = microstack
project_name = service
username = neutron
password = neutron
service_metadata_proxy = True
metadata_proxy_shared_secret = supersecret
